<div ng-include src="'menu.html'"></div>

<div class="i010">
    <div class="head">商品投放</div>
    <div class="nav1 clearfix">
        <span class="{{navi==0?'active':''}}" ng-click="gonav(0)">地图商品投放</span>
        <span class="{{navi==1?'active':''}}" ng-click="gonav(1)">精灵商品投放</span>
        <span class="{{navi==2?'active':''}}" ng-click="gonav(2)">基金库商品投放</span>
    </div>
    <div ng-show="navi==0">
    <div class="content1 clearfix">
        <span class="search">
            <input type="text" placeholder="请输入地址" id="key1">
            <button id="search1">查询</button>
         </span>
         <img src="img/i010_1.png" ng-click="draw()">
        <span class="text curson" ng-click="draw()">{{drwname}}</span>
        <span class="text curson" ng-show="show" ng-click="saveDraw()">保存绘图</span>
    </div>
    <div class="content2" id="allmap"></div>
    <div class="head1">当前投放配置监控</div>
    <div class="content3 clearfix">
        <select ng-model="table1fix.state">
            <option value="">状态</option>
            <option value="run">进行中</option>
            <option value="hide">隐藏中</option>
        </select>
        <select ng-model="table1fix.search_type">
            <option value="">查询类型</option>
            <option value="circle_name">商圈名称</option>
            <option value="circle_id">商圈ID</option>
            <option value="DGT_name">商品库ID</option>
        </select>
        <span class="search">
            <input type="text" placeholder="请输入值" ng-model="table1fix.key">
            <button ng-click="searchtable1()">查询</button>
         </span>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <td>修改时间</td>
            <td>商圈名称</td>
            <td>商圈ID</td>
            <td>投放定点密度</td>
            <td>选择商品库及对比</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="x in table1">
                <td>{{x.time}}</td>
                <td>{{x.name}}</td>
                <td>{{x.id}}</td>
                <td>{{x.numb}}</td>
                <td><div ng-repeat="y in x.pre">{{y.DGT_name}} {{y.percent}}%</div></td>
                <td>{{x.state=='run'?'进行中':'隐藏中'}}</td>
                <td>
                    <a ng-click="toufan($index)">编辑投放</a>
                    <a ng-click="hidesq(x.state,$index,x.id)">{{x.state=='run'?'隐藏商圈':'解除隐藏'}}</a>
                    <a ng-click="deletesq($index,x.id)">移除商圈</a>
                </td>
        </tr>
    </table>
    <div class="content4">
        <select class="ff" style="margin-right: 0" ng-model="table1fix.page_size">
            <option ng-value="10" ng-selected="true">10</option>
            <option ng-value="30">30</option>
        </select>
        <span class="ff text1">条</span>

        <span class="down "></span>
        <span class="fr">
        <span class="left {{table1fix.page_num>1?'active':''}}" ng-click="table1left(table1fix.page_num>1)" ></span>
        <input type="text" ng-model="table1fix.page_num">
        <span class="text" >/{{ceil(table1fix.length/table1fix.page_size-0)}}</span>
        <span class="right {{table1fix.page_num<table1fix.length/table1fix.page_size?'active':''}}" ng-click="table1right(table1fix.page_num<table1fix.length/table1fix.page_size)"></span>
    </span>
    </div>
    </div>
    <div ng-show="navi==1">
        <div class="head" style="margin-top: 20px;">商圈投放</div>
        <table class="table">
            <tr><td ><span>商圈名称:</span></td><td  colspan="2"><input type="text" ng-model="table2.name"></td></td></tr>
            <tr><td><span>投放定点密度:</span></td><td  colspan="2"><input type="text" ng-model="table2.density" placeholder="每平方公里N个"></td></tr>
            <tr><td colspan="3"><span>选择商品库:</span><button type="button" class="btn btn-primary" >添加商品</button></td></tr>
            <tr>
                <td ng-repeat="y in table2.pre"><span>{{y.DGT_name}}</span><input type="text" ng-model="table2.pre[$index].percent">%</td>
            </tr>
        </table>
        <div class="center btg">
            <button type="button" class="btn btn-primary">退出</button>
            <button type="button" class="btn btn-primary">配置</button>
        </div>
    </div>
    <div ng-show="navi==2">

        <div class="content1 clearfix">
        <span class="search">
            <input type="text" placeholder="请输入地址" id="key2">
            <button id="search2">查询</button>
         </span>
            <span class="sy">当前基金库余额:￥{{price}}</span>
        </div>
        <div class="content2" id="allmap2"></div>
        <div class="head1">当前投放配置监控</div>
        <div class="content3 clearfix">
            <select>
                <option value="0">查询类型</option>
                <option value="1">商圈名称</option>
                <option value="2">商圈ID</option>
            </select>
            <span class="search">
            <input type="text" placeholder="请输入值">
            <button>查询</button>
         </span>
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <td>上次投放时间</td>
                <td>商圈名称</td>
                <td>商圈ID</td>
                <td>投放定点个数</td>
                <td>操作</td>
            </tr>
            <tr ng-repeat="x in i010.table">
                <td>{{x.time}}</td>
                <td>{{x.name}}</td>
                <td>{{x.id}}</td>
                <td>{{x.numb}}</td>
                <td>
                    <a>投放该商圈5号碎片</a>
                </td>
            </tr>
        </table>
        <div class="content4">
            <select class="ff" style="margin-right: 0">
                <option value="10">10</option>
                <option value="30">30</option>
            </select>
            <span class="ff text1">条</span>

            <span class="down "></span>
            <span class="fr">
        <span class="left "></span>
        <input type="text ">
        <span class="text">/10</span>
        <span class="right "></span>
    </span>
        </div>
    </div>
    <div ng-show="navi==3">
        <div class="head">商品投放</div>
        <table class="table">
            <tr><td ><span>商圈名称:</span></td><td  colspan="2"><input type="text" ng-model="table4.name"></td></td></tr>
            <tr><td><span>投放定点密度:</span></td><td  colspan="2"><input type="text" ng-model="table4.density" placeholder="每平方公里N个"></td></tr>
            <tr><td colspan="3"><span>选择商品库:</span><button type="button" class="btn btn-primary" ng-click="addspk()">添加商品</button></td></tr>
            <tr>
                <td ng-repeat="y in table4.pre"><span>{{y.DGT_name}}</span><input type="text" ng-model="table4.pre[$index].percent">%</td>
            </tr>
        </table>
        <div class="center btg">
            <button type="button" class="btn btn-primary" ng-click="i3out()">退出</button>
            <button type="button" class="btn btn-primary" ng-click="peizhi3()">配置</button>
        </div>
    </div>
    <div ng-show="navi==4">
        <div class="head">商品录入>选择商品库</div>
         <div class="selectspk clearfix">
             <span ng-repeat="y in table5"><input type="checkbox" ng-model="table5[$index].select"><span>{{y.DGT_name}}</span><span class="glyphicon glyphicon-edit" ng-click="editku(y)"></span></span>
         </div>
        <div class="center btg">
            <button type="button" class="btn btn-primary" ng-click="navi=h4navi">返回</button>
            <button type="button" class="btn btn-primary" ng-click="n4peizhi()">配置</button>
        </div>
    </div>
    <div ng-show="navi==5">
        <!--<div class="head">商品录入>选择商品库</div>-->
        <div class="login">
            <div class="">请输入确认密码</div>
            <div class="">账号：<span>{{username}}</span></div>
            <div class="">密码：<input type="text" placeholder="请输入登录密码" ng-model="password" ></div>
        </div>

        <div class="center btg">
            <button type="button" class="btn btn-primary">取消</button>
            <button type="button" class="btn btn-primary" ng-click="nai5ok()">确定</button>
        </div>
    </div>
</div>
