<div ng-include src="'menu.html'"></div>

<div class="i011">
    <div class="nav1 clearfix">
        <span class="{{navi==0?'active':''}}" ng-click="gonav(0)">地图物品管理记录</span>
        <span class="{{navi==1?'active':''}}" ng-click="gonav(1)">商店物品管理记录</span>
        <span class="{{navi==2?'active':''}}" ng-click="gonav(2)">精灵物品管理记录</span>
        <span class="{{navi==3?'active':''}}" ng-click="gonav(3)">基金库物品管理记录</span>
    </div>
    <div class="content3 clearfix">
        <select>
            <option value="0">状态</option>
            <option value="1">进行中</option>
            <option value="2">隐藏中</option>
        </select>
        <select>
            <option value="0">查询类型</option>
            <option value="1">商圈名称</option>
            <option value="2">商圈ID</option>
            <option value="3">商品库名称</option>
            <option value="4">商品库ID</option>
            <option value="5">管理员名称</option>
            <option value="6">管理员ID</option>
        </select>
        <span class="search">
            <input type="text" placeholder="请输入值">
            <button>查询</button>
         </span>
    </div>
    <table class="table table-bordered table-striped" ng-show="navi==0">
        <tr>
            <td>修改时间</td>
            <td>商圈名称</td>
            <td>商圈ID</td>
            <td>选择的商品库</td>
            <td>状态</td>
            <td>操作管理员</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="x in i011.table">
                <td>{{x.time}}</td>
                <td>{{x.name}}</td>
                <td>{{x.id}}</td>
                <td><div ng-repeat="y in x.pre">{{y}}</div></td>
                <td>{{x.state==1?'进行中':'隐藏中'}}</td>
                 <td>{{x.admin}}</td>
                <td>
                    <div ng-repeat="y in x.caozuo">{{y}}</div>
                </td>
        </tr>
    </table>
    <table class="table table-bordered table-striped" ng-show="navi==1">
        <tr>
            <td>修改时间</td>
            <td>商圈名称</td>
            <td>商圈ID</td>
            <td>店主星座类型</td>
            <td>选择的商品库</td>
            <td>状态</td>
            <td>操作管理员</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="x in i011.table">
            <td>{{x.time}}</td>
            <td>{{x.name}}</td>
            <td>{{x.id}}</td>
            <td>{{x.xin}}</td>
            <td><div ng-repeat="y in x.pre">{{y}}</div></td>
            <td>{{x.state==1?'进行中':'隐藏中'}}</td>
            <td>{{x.admin}}</td>
            <td>
                <div ng-repeat="y in x.caozuo">{{y}}</div>
            </td>
        </tr>
    </table>
    <table class="table table-bordered table-striped" ng-show="navi==2">
        <tr>
            <td>修改时间</td>
            <td>选择的商品库</td>
            <td>操作管理员</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="x in i011.table">
            <td>{{x.time}}</td>
            <td><div ng-repeat="y in x.pre">{{y}}</div></td>
            <td>{{x.admin}}</td>
            <td>
                <div ng-repeat="y in x.caozuo">{{y}}</div>
            </td>
        </tr>
    </table>
    <table class="table table-bordered table-striped" ng-show="navi==3">
        <tr>
            <td>修改时间</td>
            <td>商圈名称</td>
            <td>商圈ID</td>
            <td>店主星座类型</td>
            <td>选择的商品库</td>
            <td>状态</td>
            <td>操作管理员</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="x in i011.table">
            <td>{{x.time}}</td>
            <td>{{x.name}}</td>
            <td>{{x.id}}</td>
            <td>{{x.xin}}</td>
            <td><div ng-repeat="y in x.pre">{{y}}</div></td>
            <td>{{x.state==1?'进行中':'隐藏中'}}</td>
            <td>{{x.admin}}</td>
            <td>
                <div ng-repeat="y in x.caozuo">{{y}}</div>
            </td>
        </tr>
    </table>
    <div class="content4">
        <select class="ff" style="margin-right: 0">
            <option value="10">10</option>
            <option value="30">30</option>
        </select>
        <span class="ff text1">条</span>

        <span class="down "></span>
        <span class="fr">
        <span class="left "></span>
        <input type="text ">
        <span class="text">/10</span>
        <span class="right "></span>
    </span>
    </div>
</div>
