@charset "UTF-8";
/* CSS Document */
body{background:#F1F1F1;}

/*商品库目录于编辑部分*/
.i041 .menu_ku{ position:relative; display:none;}
.i041 .menu_ku_edit{ position:relative; display:block;}

/*商品库编辑页面title*/
.i041 .ku_title_box{ overflow:hidden;}
.i041 .ku_edit_title{ float:left;}
.i041 .return_ku{ float:left; margin-top:20px; margin-left:10px; background:#3A9AD7 url(img/arrow_right.png) no-repeat center left 10px; padding-left:30px;}
/*搜索项目*/

.i041 .search,i041 .con{ height:50px; }

.i041 .type_list{ display:none;}

.i041 .search_date{ cursor:text; width:130px;}
.i041 .search_type{ margin-left:10px;}

/*商品库名称更改*/
.i041 .ku_name{ float:left; height:32px; line-height:32px; margin-right:10px;}
.i041 .ku_name span{ float:left; color:#7E7E7E;}
.i041 .change_ku_name{ height:32px; width:100px; line-height:32px; padding-left:10px; border-bottom:1px solid #7D7D7D;}

/*商品库删除提示框*/
.i041 .delete_ku{ display:none;}

/*商品库添加内容提示框*/
.i041 .add_ku{ display:none;}

/*编辑商品库删除提示框*/
.i041 .delete_edit_ku{ display:none;}

/*编辑商品库库名已存在提示框*/
.i041 .ku_name_exit{ display:none;}

.i041 .add_new_suipian{ display:block;}

/*修改碎片数量*/
.i041 .change_suipian{ display:none;}
.i041 .suipian_box{ width:230px; height:32px; margin:0 auto; padding-bottom:5px; box-sizing:content-box;}
.i041 .show_suipianshu{ display:none;}
.i041 .suipianhao{ float:left;}
.i041 .suipianhao>*,.i041 .suipianshu>*{ float:left; height:32px; line-height:32px;}
.i041 .suipianhao .change_suipianhao{ width:40px;}
.i041 .suipianshu{ float:right;}
.i041 .suipianshu_text{ width:60px; padding:0 12px; border:1px solid #E8E8E8; border-radius:4px;}

/*添加新碎片*/
.i041 .add_new_suipian{ display:block;  width:900px; margin-left:-450px;}
.i041 .add_new_suipian .search_add_suipian{ margin-top:10px; width:500px; height:50px; margin:0 auto; }
.i041 .add_suipian_type{ border:1px solid #7D7D7D;}

.i041 .show_add_suipian{ display:none;}

.i041 .search_box_suipian{border:1px solid #7D7D7D; border-right:none; }
.i041 .search_btn_suipian{border:1px solid #7D7D7D; border-left:none; }
.i041 .change_page_suipian{ width:170px; float:none; margin:0 auto;}
.i041 .suipian_table{ width:800px;}
.i041 .suipian_table tbody tr td:nth-of-type(7) input{ display:inline-block; border:1px solid #7D7D7D; width:100px;}
.i041 .suipian_table tbody tr td:nth-of-type(8) input{ margin-right:3px;}
/*取消添加碎片*/
.i041 .cancel_add_suipian{ display:none;}
/*取消添加碎片*/
.i041 .save_add_suipian{ display:none;}


/*商品库目录表格样式*/
.i041 .ku_table tbody tr td:nth-of-type(4){ width:340px;}
.i041 .ku_table tr>a:nth-of-type(3){ color:#F6D4D1;}
/*编辑商品库目录表格样式*/
.i041 .ku_edit_table tbody tr td:nth-of-type(8){ width:150px;}
