@charset "UTF-8";
/* CSS Document */
body{background:#F1F1F1;}

/*幸运蛋库title*/
.i042 .lucky_title_box{ overflow:hidden;}
.i042 .lucky_title{ float:left;}
.i042 .lucky_title_info{ float:left; margin-top:27px; margin-left:10px; color:#B3B3B3;}
.i042 .lucky_title_info span{ margin:0 2px;}
/*搜索项目*/
.i042 .search,i042 .con{ height:50px; }

.i042 .type_list{ display:none;}

.i042 .search_date{ cursor:text; width:130px;}
.i042 .search_type{ margin-left:10px;}

/*编辑商品库删除提示框*/
.i042 .delete_lucky{ display:none;}

/*修改幸运蛋库*/
.i042 .change_lucky{ display:block;  width:900px; margin-left:-450px;}
.i042 .change_lucky_search{ margin-top:10px; width:800px; height:50px; margin:0 auto; }

/*区间详细*/
.i042 .qujian,.i042 .shangxian{ float:left; height:32px; line-height:32px; color:#7E7E7E; margin-right:10px;} 
.i042 .qujian input,.i042 .shangxian input{ display:inline-block; width:50px; height:32px; border:1px solid #E8E8E8; border-radius:4px; padding-left:10px;}
.i042 .change_lucky_type{ border:1px solid #E8E8E8; margin-left:20px;}

.i042 .show_change_type{ display:none;}

.i042 .search_box_lucky{border:1px solid #E8E8E8; border-right:none; }
.i042 .search_btn_lucky{border:1px solid #E8E8E8; border-left:none; }
.i042 .change_page_lucky{ width:170px; float:none; margin:0 auto;}
.i042 .change_lucky_table{ width:800px;}
.i042 .change_lucky_table tbody tr td:nth-of-type(6) input{ margin-right:3px;}
/*取消添加碎片*/
.i042 .cancel_add_lucky{ display:none;}
/*取消添加碎片*/
.i042 .save_add_lucky{ display:none;}


