body,*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body,html{
    height: 100%;
}
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left:0px;
    top:0;
    background-color: #f1f1f1;
    min-height: 800px;
}

#gametop{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    line-height: 60px;
    color:white;
}
#top_title{
    position: absolute;
    width: 200px;
    left:30px;
}
#top_break{
    position: absolute;
    width: 100px;
    height: 30px;
    border-radius:4px;
    line-height: 30px;
    text-align: center;
    right: 20px;
    cursor: pointer;
    background-color: #e2443d;
    top:0px;
    bottom: 0px;
    margin: auto 0px;
}
#gamebottom{
    position: relative;
    height: 100%;
    margin-left:174px;
    top:0px;
}
#bottom_left{
    position: absolute;
    width: 174px;
    background-color: #3e3e3e;
    height: 100%;
    color:white;
    z-index: 100;
}
#bottom_left_ul{
    position: relative;
    width: 100%;
    top:100px;
}
#bottom_left_ul > li{
    position: relative;
    width: 100%;   
/*    overflow: hidden;*/
    padding-top:20px;
    padding-bottom:20px;
/*    height: 40px;*/
    cursor: pointer;
    
}
#bottom_left_ul > li .line{
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    width: 100%;
    height: 2px;
    position: absolute;
    left:0px;
    top:-20px;
}
#bottom_left_ul > li > div{
    position: relative;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color:white;
    font-size:16px;
}
#bottom_left_ul > li > div >  .img1{
    position: absolute;
    
    top:0px;
    bottom: 0px;
    margin: auto 0px;
    left:8px;
}
#bottom_left_ul > li > div >  .img2{
    position: absolute;
    
    top:0px;
    bottom: 0px;
    margin: auto 0px;
    right:10px;
}
#bottom_left_ul > li > ul{
    position: relative;
    width: 100%;
    margin-top:10px;
/*    margin-bottom:10px;*/
    /*display: none;*/
}

#bottom_left_ul > li > ul > li{
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size:12px;
    text-align: left;
    cursor: pointer;
    color:#a0a0a0;
    background-color:#3e3e3e;
}
#bottom_left_ul > li > ul > li > span{
    position: relative;
    left:40px;
}

#logo{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size:20px;
    line-height: 100px;
    height: 100px;
    top:0px;
    color:#3e97d3;
}
#bottom_right{
    position: relative;
    width: 100%;
    margin-top:30px;
}
/*日常商品*/
#richangshangpin{
    position:relative;
    width: 94%;
    height: 94%;
    left:3%;
    top:3%;
}
.layer_title{
    position: relative;
    font-size:18px;
    line-height: 20px;
    height: 20px;
    color:#3e97d3;
}
.layer_item{
    position: relative;
    height: 30px;
    margin-top:20px;
}
.select_item{
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
}
.layer_item1{
    
}
.return_btn{
    position: absolute;
    width: 140px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    background-color: #3e97d3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    top: -8px;
    cursor: pointer;
    left: 180px;
}
.return_btn img{
    position: relative;
    top: 0px;
    margin-right: 5px;
    margin-left: 10px;
}